.card-img-top {
    height: 20rem;
    width: 100%;
}

.card-title, .card-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.description-text {
    -webkit-line-clamp: 3;
}