.image-wrapper {
    height: 12rem;
    margin-top: 1.2rem;
}

.book-img {
    height: 100%;
}

.description-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
